.Carousal {
  width: 500px;
  padding: 0;

  & h2 {
    margin: 0;
  }

  &_Imgs {
    // display: flex;
    // overflow: scroll;
    width: 450px;
    padding: 0;

    & img {
      width: 450px;
      height: 300px;
      // object-fit: cover;
    }
  }
}
