@import "../../../mixins/mixins.scss";

.ProductCard {
  display: flex;
  justify-content: space-between;
  width: 50vw;

  &_MainImg {
    background-color: rgb(245, 245, 245);

    & img {
      width: 400px;
      height: 500px;
      object-fit: contain;
    }
  }

  &_Thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

// button {
//   border: 1px solid $main-blue;
//   color: $main-blue;
//   background-color: white;
//   padding: 5px;
//   font-weight: 600;
// }
